<h1>Landing View!</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
    </tr>
  <% end %>

</table>
